div.accountinfo {
    width: 50vw;

    padding-left: 0.4vw;
    padding-right: 0.4vw;
    padding-top: 0.2vw;
    margin-top: -0.4vw;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;

    background-color: #231b1b;
    border: 0.4vw solid #9649cb;
}

div.adminview {
    width: 50vw;

    padding-left: 0.4vw;
    padding-right: 0.4vw;
    padding-top: 0.2vw;
    margin-top: -0.4vw;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;

    background-color: #231b1b;
    border: 0.4vw solid #afbbf2;
}

div.accountinfo h3 {
    display: flex;


    color: #ffffff;


    font-size: 2vw;
}

div.adminview h3 {
    display: flex;


    color: #ffffff;


    font-size: 2vw;
}

div.centeraccount {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;

    margin-top: 0.5vw;
    margin-bottom: 1vw;
}

h3.subtitle {
    font-size: 2vw;
}