<!doctype html>
<title>SpeedScout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no">

<link rel="stylesheet" href="{{ url_for('static', filename='css/base/core.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/base/input.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/scouting/buttons.css') }}">



<body onload="runTimer(); runStampTimer()">

<script src="{{ url_for('static', filename='js/activescouting.js') }}"></script>


<nav>
    <div class="timer">
        <img src="{{ url_for('static', filename='images/icons/timer.png') }}">
        <p id="timer"></p>
    </div>
</nav>


<div id="midgame">
    <div class="splitter">
        <div class="divider" id="divider1">
            <button onclick="scout('TL2', 'Pickup Coral|f')" style="background-color:rgb(120, 10, 10)">Coral</button>
        </div>
        <div class="divider" id="divider2">
            <button onclick="scout('TR2', 'Pickup Algae|Pickup Algae|s')" style="background-color:rgb(50, 110, 10)">Algae</button>
        </div>
    </div>
    <div class="splitter">
        <div class="divider" id="divider3">
            <button onclick="scout('BL2', 'Start Defending|f')" style="background-color:rgb(10, 90, 130)">Defense</button>
        </div>
        <div class="divider" id="divider4">
            <button onclick="scout('BR2', 'Robot Stopped|f')" style="background-color:rgb(190, 110, 20)">Stopped</button>
        </div>
    </div>
</div>


<template id="postgame">
    <div class="dropdowns">
        <div>
            <h1>Major Fouls</h1>
            <select id="major">
                <option value="unsure">Unsure</option>
                <option value="none">None</option>
                <option value="few">Few</option>
                <option value="significant">Significant</option>
            </select>
        </div>
        <div>
            <h1>Endgame</h1>
            <select id="endgame">
                <option value="none">None</option>
                <option value="park">Park</option>
                <option value="shallow">Shallow Climb</option>
                <option value="deep">Deep Climb</option>
            </select>
        </div>
        <div>
            <h1>Minor Fouls</h1>
            <select id="minor">
                <option value="unsure">Unsure</option>
                <option value="none">None</option>
                <option value="few">Few</option>
                <option value="significant">Significant</option>
            </select>
        </div>
    </div>
    <div class="starselects">
        <div id="robotstars">
            <h1>Robot Performance</h1><img 
            class="star" onclick="updateStars('robotstars', 1)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('robotstars', 1)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('robotstars', 2)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('robotstars', 2)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('robotstars', 3)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('robotstars', 3)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('robotstars', 4)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('robotstars', 4)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('robotstars', 5)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('robotstars', 5)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}">
        </div>
        <div id="driverstars">
            <h1>Driver Performance</h1><img 
            class="star" onclick="updateStars('driverstars', 1)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('driverstars', 1)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('driverstars', 2)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('driverstars', 2)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('driverstars', 3)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('driverstars', 3)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('driverstars', 4)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('driverstars', 4)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}"><img 
            class="star" onclick="updateStars('driverstars', 5)" src="{{ url_for('static', filename='images/icons/star_empty.png') }}"><img 
            class="star hidden" onclick="updateStars('driverstars', 5)" src="{{ url_for('static', filename='images/icons/star_filled.png') }}">
        </div>
    </div>
    <button onclick="submitData()" class="submit">SUBMIT</button>
</template>

<template id="TL1">
    <button onclick="scout('TL2', 'Pickup Coral|f')" style="background-color:rgb(120, 10, 10)">Coral</button>
</template>
<template id="TL2">
    <div class="subsplitter">
        <button onclick="scout('TL3', 'Place Coral|Place Coral|s')" style="background-color:rgb(140, 10, 10)">Place</button>
        <button onclick="scout('TL1', 'Eject Coral|f')" style="background-color:rgb(120, 10, 10)">Eject</button>
    </div>
    <div class="subsplitter">
        <button onclick="scout('TL1', 'Drop Coral|f')" style="background-color:rgb(95, 10, 10)">Drop</button>
    </div>
</template>
<template id="TL3">
    <div class="subsplitter">
        <button onclick="scout('TL4', 'L1|Place Coral|m')" style="background-color:rgb(140, 10, 10)">L1</button>
        <button onclick="scout('TL4', 'L2|Place Coral|m')" style="background-color:rgb(120, 10, 10)">L2</button>
    </div>
    <div class="subsplitter">
        <button onclick="scout('TL4', 'L3|Place Coral|m')" style="background-color:rgb(95, 10, 10)">L3</button>
        <button onclick="scout('TL4', 'L4|Place Coral|m')" style="background-color:rgb(80, 10, 10)">L4</button>
    </div>
</template>
<template id="TL4">
    <div class="subsplitterfull">
        <button onclick="scout('TL1', 'Hit|Place Coral|e')" style="background-color:rgb(40, 80, 10)">Hit</button>
        <button onclick="scout('TL1', 'Miss|Place Coral|e')" style="background-color:rgb(90, 10, 10)">Miss</button>
    </div>
</template>


<template id="TR1">
    <button onclick="scout('TR2', 'Pickup Algae|Pickup Algae|s')" style="background-color:rgb(50, 110, 10)">Algae</button>
</template>
<template id="TR2">
    <div class="subsplitterfull">
        <button onclick="scout('TR3', 'Reef|Pickup Algae|e')" style="background-color:rgb(50, 130, 10)">Reef</button>
        <button onclick="scout('TR3', 'Ground|Pickup Algae|e')" style="background-color:rgb(50, 110, 10)">Ground</button>
    </div>
</template>
<template id="TR3">
    <div class="subsplitter">
        <button onclick="scout('TR4', 'Score Algae|Algae|s')" style="background-color:rgb(50, 130, 10)">Score</button>
        <button onclick="scout('TR4', 'Process Algae|Algae|s')" style="background-color:rgb(50, 110, 10)">Process</button>
    </div>
    <div class="subsplitter">
        <button onclick="scout('TR1', 'Eject Algae|f')" style="background-color:rgb(50, 95, 10)">Eject</button>
        <button onclick="scout('TR1', 'Drop Algae|f')" style="background-color:rgb(50, 80, 10)">Drop</button>
    </div>
</template>
<template id="TR4">
    <div class="subsplitterfull">
        <button onclick="scout('TR1', 'Hit|Algae|e')" style="background-color:rgb(40, 80, 10)">Hit</button>
        <button onclick="scout('TR1', 'Miss|Algae|e')" style="background-color:rgb(90, 10, 10)">Miss</button>
    </div>
</template>


<template id="BL1">
    <button onclick="scout('BL2', 'Start Defending|f')" style="background-color:rgb(10, 90, 130)">Defense</button>
</template>
<template id="BL2">
    <div class="subsplitterfull">
        <button onclick="scout('BL3', 'Block|Block|s')" style="background-color:rgb(10, 100, 140)">Block</button>
        <button onclick="scout('BL1', 'Stop Defending|f')" style="background-color:rgb(10, 90, 130)">End</button>
    </div>
</template>
<template id="BL3">
    <div class="subsplitterfull">
        <button onclick="scout('BL2', 'Win|Block|e')" style="background-color:rgb(10, 100, 140)">Won</button>
        <button onclick="scout('BL2', 'Lose|Block|e')" style="background-color:rgb(10, 90, 130)">Lost</button>
    </div>
</template>


<template id="BR1">
    <button onclick="scout('BR2', 'Robot Stopped|f')" style="background-color:rgb(190, 110, 20)">Stopped</button>
</template>
<template id="BR2">
    <button onclick="scout('BR1', 'Robot Resumed|f')" style="background-color:rgb(190, 110, 20)">Back On</button>
</template>

</body>