{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select/buttons.css') }}">

<script src="{{ url_for('static', filename='js/scouting.js') }}"></script>
{% endblock %}

{% block subtitle %}
<h2>Scout</h2>
{% endblock %}

{% block content %}

{% for match in get_match_list() %}
<div class="centercontents">
    <button class="event" id="{{ match["key"] }}" onclick="{{ 'selectMatch(\"' + match["key"] + '\")' }}">{{ match["name"] }}</button>
</div>
{% endfor %}

{% endblock %}