{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select/buttons.css') }}">

<script src="{{ url_for('static', filename='js/scouting.js') }}"></script>
{% endblock %}

{% block subtitle %}
<h2>Scout</h2>
{% endblock %}

{% block content %}
    <div class="centercontents">
        <button class="team" onclick="unScout('event')">Back</button>
    </div>
    {% for match in get_match_list() %}
        {% if match["winner"] == "red" %}
            <div class="centercontents">
                <button class="event" id="{{ match["key"] }}" style="border: 0.5vw solid rgb(202, 7, 7);">{{ match["name"] }}</button>
            </div>
        {% elif match["winner"] == "blue" %}
            <div class="centercontents">
                <button class="event" id="{{ match["key"] }}" style="border: 0.5vw solid rgb(51, 5, 158);">{{ match["name"] }}</button>
            </div>
        {% elif match["winner"] == "divider" %}
            <div class="centercontents">
                <button class="event" id="{{ match["key"] }}" style="border: 0.5vw solid rgb(114, 114, 114);">{{ match["name"] }}</button>
            </div>
        {% elif match["started"] %}
            <div class="centercontents">
                <button class="event" id="{{ match["key"] }}" style="border: 0.5vw solid rgb(27, 168, 50);">{{ match["name"] }}</button>
            </div>
        {% else %}
            <div class="centercontents">
                <button class="event" id="{{ match["key"] }}" onclick="{{ 'selectMatch(\"' + match["key"] + '\")' }}">{{ match["name"] }}</button>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}