{% extends 'base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='teamlist/core.css') }}">
<script src="{{ url_for('static', filename='js/textFit.js') }}"></script>
<script src="{{ url_for('static', filename='js/teamcards.js') }}"></script>
{% endblock %}

{% block content %}
<h2 class="subtitle centermargins">2025 Ontario District</h2>

<div class="centercontents">
    <section class="teams" ,onload="fit();">
        {% for team in get_teams_in_district("2025ont") %}
        {% if "website" in team.keys() %}
        <div class="teamcard">
            <a href={{ team["website"] }}><span class="link"></span></a>
            <p class="teaminfo">{{ team["name"] }} | {{ team["number"] }}</p>
            <p class="teamsite">{{ team["website"] }}</p>
        </div>
        {% else %}
        <div class="teamcard">
            <p class="teaminfo">{{ team["name"] }} | {{ team["number"] }}</p>
        </div>
        {% endif %}
        {% if loop.index % 5 == 0 %}
        <br />
        {% endif %}
        {% endfor %}
    </section>
</div>


{% endblock %}